<!-- side navigation bar -->

<div class="hidden md:block w-60 h-screen bg-black text-white">
  <nav>
    <ul class="">
      <li class="bg-teal-400 p-2">
        Home
      </li>
      <li class="border-b border-gray-50 p-2">
        Non-Fiction
      </li>
      <li class="border-b border-gray-50 p-2">
        Children & Young Adult
      </li>
      <li class="border-b border-gray-50 p-2">
        Educational Software
      </li>
      <li class="border-b border-gray-50 p-2">
        Literature Fiction
      </li>
      <li class="border-b border-gray-50 p-2">
        Academic & Professional
      </li>
      <li class="border-b border-gray-50 p-2">
        Business Management
      </li>
      <li class="border-b border-gray-50 p-2">
        History & Politics
      </li>
      <li class="border-b border-gray-50 p-2">
        Blog
      </li>
      <li class="border-b border-gray-50 p-2">
        Pages
      </li>
      <li class="border-b border-gray-50 p-2">
        Shop
      </li>
    </ul>
  </nav>
</div>