<!-- side navigation bar -->

<div class="w-60 h-screen bg-black text-white">
    <nav>
        <ul class="flex flex-col items-start">
            <li class="bg-teal-400">Home</li>
            <li>Blog</li>
        </ul>
    </nav>
</div>